accelerate==0.28.0
beautifulsoup4==4.12.3
einops==0.7.0
ftfy==6.2.0
ninja==1.11.1.1
protobuf==5.27.1
scipy==1.12.0
torchinfo==1.8.0
tqdm==4.66.2
transformers==4.47.1
sentencepiece==0.2.0
piq==0.8.0
soundata==1.0.1
soundfile==0.12.1
librosa==0.10.2.post1
msclap==1.3.3
tensorboard==2.18.0
torch-dwt @ git+https://github.com/KeKsBoTer/torch-dwt@master
